{% extends 'base.html' %}

{% block title %} On game - {{ me.get_full_name }} versus {{ opponent.get_full_name }} {% endblock %}

{% block extra_body %}
   <div class="navbar navbar-fixed-top facecards-navbar">
       <div class="navbar-inner">
           <div class="container">
           		   <a class="brand" href="{% url canvas %}">Facecards</a>
                   <div class="nav-collapse pull-right">
	                   <ul class="nav">
		                   <li class="dropdown">
		                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }}<b class="caret"></b></a>
		                      <ul class="dropdown-menu">
		                      	   <li><a href=".">Editar perfil</a></li>
			                       <li><a href=".">Alterar senha</a></li>
			                       <li><a href=".">Alterar email</a></li>
			                       <li class="divider"></li>
			                       <li><a href=".">Sair</a></li>
		                      </ul>
		                   </li>
	                   </ul>
                   </div>
           </div>
       </div>
   </div>
   <div id="begin" class="container"> 
   	  <div class="row">
   	  	<div class="span10 offset1">
   	  		<h2 id='turn' style="text-align: center;"></h2>
   	  	</div>
   	  </div>
      <div class="row">
         <div class="span5 offset1">
            <div id='player1'>
            	<h4>{{ me.get_full_name }}</h4>
            	<h4 class='cards'></h4>
            	<img alt="" src="{{ me.get_profile.pic_square }}"><br />
            	
            	<ul class="thumbnails" style="margin: auto; float: right;">
            		<li class="span2">
            			<div class="thumbnail">
	                		<img class='friend' src='' />		
							<h3></h3>
							<a class="attr1"></a><br />
							<a class="attr2"></a>
						</div>
					</li>
				</ul>
				
			</div>
         </div>
         	<div class="span5">
          		<div id='player2'>
          			<h4 style="float: right;">{{ opponent.get_full_name }}</h4><br/>
            		<h4 class='cards' style="clear: both; float:right;"></h4>
         			<img alt="" src="{{ opponent.get_profile.pic_square }}" style="clear: both; float: right;">
            	
            		<ul class="thumbnails" style="margin: auto; float: left; clear: both;">
            			<li class="span2">
            				<div class="thumbnail">
	            				<img class='friend' src='' />
								<h3></h3>
								<a class="attr1">Friends: ?</a><br />
								<a class="attr2">Likes: ?</a>
							</div>
            			</li>
					</ul>
          		</div>
      		</div>
      	</div>
      <div class="row">
      <div class="span2 offset1">
      <a id='finish-button' class="btn btn-small" href=''>Leave Game</a>
      </div>
      </div>
   </div>

<!-- 
<div id='player1'>
	<img src='{{ me.get_profile.pic_big }}' />
	<h2 class='turn'></h2>
	<h2 class='cards'></h2>
	<img class='friend' src='' />
	<h3></h3>
	<a class="attr1"></a>
	<a class="attr2"></a>
	
</div>
<div id='player2'>
	<img src='{{ opponent.get_profile.pic_big }}' />
	<h2 class='turn'></h2>
	<h2 class='cards'></h2>
	<img class='friend' src='' />
	<h3></h3>
	<a class="attr1"></a>
	<a class="attr2"></a>
</div>
<a id='finish-button' href=''>Finish</a>
-->

<script>
$(document).ready(function(){
	setTimeout('check_finish()', 1*1000);
	setTimeout('get_lock()', 1*1000);
	get_next_card();
	resolve_round();
});

$("#finish-button").click(function(event){
    event.preventDefault();
    console.log("clicado");
    $.post('/finish_game/',{ game_pk: {{ game_pk }} }, function(data) {
        console.log(data);
        self.location = '/canvas/';
    });
});

function check_finish(){
	setTimeout('check_finish()', 1*1000);
	$.get('/check_finish/{{ game_pk }}', function(data){
		if(data == 'OK'){
			self.location = '/canvas/';
		}
	})
}

function get_next_card(){
	var player = $('#player1');
	var data;
	hide_opponent_card();
	$.get('/get_next_card/', {game_pk: {{ game_pk }}}, function(resp){
		data = $.parseJSON(resp);
		console.log('VEIO DO GET_NEXT_CARD');
		console.log(data);
		player.find('.cards').html('Cards Remaining:'+data.my_deck_len);
		$('#player2').find('.cards').html('Cards Remaining:'+(40 - data.my_deck_len));
		player.find('.friend').attr('src', data.pic_square);
		player.find('h3').html(data.name);
	}).success(function(){
		$.get('/get_turn/{{ game_pk }}', function(resp){
			player.find('#turn').html('');
			if(resp == 'OK'){
				$(document).find('#turn').html('Your turn');
				player.find('.attr1').attr('href', '');
				player.find('.attr1').html('Friends: '+data.attr1);
				player.find('.attr2').attr('href', '');
				player.find('.attr2').html('Likes: '+data.attr2);
			} else {
				$(document).find('#turn').html('Your opponent\'s turn');
				player.find('.attr1').html('Friends: '+data.attr1);
				player.find('.attr2').html('Likes: '+data.attr2);
			}
		});
	});
}

function show_opponent_card(card){
    var player = $('#player2');
    var opponent_deck_len = 40 - $('#player1 .cards').html().split(':')[1];
    player.find('.cards').html('Cards Remaining:'+opponent_deck_len);
	player.find('.friend').attr('src', card.pic_square);
	player.find('h3').html(card.name);
	player.find('.attr1').html('Friends: '+card.attr1);
	player.find('.attr2').html('Likes: '+card.attr2);
	setTimeout('get_next_card()', 3*1000);
}

function hide_opponent_card(){
	var player = $('#player2');
	var opponent_deck_len = 40 - $('#player1 .cards').html().split(':')[1];
    player.find('.cards').html('Cards Remaining:'+opponent_deck_len);
    player.find('.cards').html('');
	player.find('.friend').attr('src', '/static/img/question.png');
	player.find('h3').html('');
	player.find('.attr1').html('Friends: ?');
	player.find('.attr2').html('Likes: ?');
}

function resolve_round(){
	$('a').click(function(event){
		event.preventDefault();
		$.get('/resolve_round/', {attr: $(this).attr('class'), game_pk: {{ game_pk }} }, function(data){
			data = $.parseJSON(data);
			console.log('EH NOIZ');
			if(data.status == 'OK'){
				show_opponent_card(data.card);
			}
			else if (data.status == 'Ganhei'){
				alert('Você ganhou! :)');
				self.location = '/canvas/';
			}
				
		});
	});
}

function get_lock(){
	setTimeout('get_lock()', 1*1000);
	$.get('/get_lock', { game_pk: {{ game_pk }} }, function(data){
		data = $.parseJSON(data);
		if(data.status == 'OK'){
			console.log('VEIO DO GET_LOCK');
			show_opponent_card(data.card);
		} else if (data.status == 'Perdi') {
			alert('Você Perdeu :(');
			self.location = '/canvas/';
		}
	});
}
</script>
{% endblock %}
