{% extends 'base.html' %}

{% block title %} On game - {{ user.get_full_name }} versus  {% endblock %}

{% block extra_body %}
   <div class="navbar navbar-fixed-top facecards-navbar">
       <div class="navbar-inner">
           <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                      <span class="icon-bar"></span> 
                      <span class="icon-bar"></span> 
                      <span class="icon-bar"></span> 
                  </a> 
                  <a class="brand" href="{% url login %}">Facecards</a>
                   <div class="nav-collapse pull-right">
                   <ul class="nav">
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }}<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                      	   <li><a href=".">Editar perfil</a></li>
	                       <li><a href=".">Alterar senha</a></li>
	                       <li><a href=".">Alterar email</a></li>
	                       <li class="divider"></li>
	                       <li><a href=".">Sair</a></li>
                      </ul>
                   </li>
                </ul>
                </div>
           </div>
       </div>
   </div>
   <div id="begin" class="container"> 
   
      <div class="row">
         <div class="span5 offset1">
            <img alt="" src="{{ user.get_profile.pic_square }}">
            <h4>{{ user.get_full_name }}</h4>
         	<div id='player1'>
         	</div>
         </div>
         <div class="span5">
         	<div id='player2'>
          	</div>
         </div>
      </div>
      <a id='finish-button' href=''>Finish</a>
   </div>


<script>
$(document).ready(function(){
	setTimeout('check_finish()', 1*1000);
	get_next_card();
});

$("#finish-button").click(function(event){
    event.preventDefault();
    console.log("clicado");
    $.post('/finish_game/',{ game_pk: {{ game_pk }} }, function(data) {
        console.log(data);
        self.location = '/canvas/';
    });
});

function check_finish(){
	setTimeout('check_finish()', 1*1000);
	$.get('/check_finish/{{ game_pk }}', function(data){
		if(data == 'OK'){
			self.location = '/canvas/';
		}
	})
}

function get_next_card(){
	$.get('/get_next_card/', {game_pk: {{ game_pk }}}, function(data){
		data = $.parseJSON(data);
		console.log(data);
		var player = $('#player1');
		player.append('<h2>Cards Remaining:'+data.deck_len+'</h2>');
		player.append('<img src="'+data.pic_square+'" />');
		player.append('<h3>'+data.name+'</h3>');
		player.append('<a href="">Friends: '+data.attr1+'</a><br/>');
		player.append('<a href="">Likes: '+data.attr2+'</a>');
	});
}
</script>
{% endblock %}
